.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#app {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 1024px;
    height: 512px;
    border: 3px solid #884444;
    padding: 4px;
    background-color: #008888;
}

#nameentry {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.95;
    background-color: #CC8888;
    background-image: url(hasuraeats.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#nameentry .dialogbox {
    width: 422px;
    height: 51px;
    top: 50%;
    left: 50%;
    position: absolute;
    margin: -25px 0 0 -211px;
    padding: 8px;
    background-color: #ccFFcc;
    border: 3px solid #AA0000;
}

#notenoughplayers {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.95;
    background-color: #CC8888;
}

#gamelayer {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00AAFF;
}

#gamearea, #gameworld {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 450px;
    background-color: #22AA44;
}

#chatoverlay {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    color: #ff8800;
}

#chatbar {
    display: block;
    position:absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 22px;
    color: #FF8800;
    border: solid 2px #AA6600;
    background-color: bisque;
}

#needArea {
    display: block;
    position: absolute;
    left: 0;
    bottom: 22px;
    height: 36px;
    width: 100%;
    border: solid 2px #aa6600;
    background-color: #aaaa00;
}

#chatbar p {
    font-size: 10pt;
    margin: 0;
    padding: 0;
    line-height: 14pt;
}

.dismissed {
    display: none  !important;
}
